In [43]:
#Question 1 : The Road Trip Planner

In [44]:
fuel_efficiency = 11.5

total_distance = 475

fuel_price =  1.65

tank_capacity = 50

In [19]:
#A :How many liters of fuel will you need for the entire trip?
# Fuel needed = total distance / fuel efficiency
fuel_needed = 475 / 11.5
print(f" fuel_needed: {fuel_needed} litres")

 fuel_needed: 41.30434782608695 litres

In [11]:
#B :Full tanks of fuel needed
# Full tanks = fuel needed / tank capacity
full_tanks = fuel_needed // 50
print(full_tanks)

0.0

In [16]:
#3 :Total estimated fuel cost
# Total cost = fuel needed * fuel price
total_cost = fuel_needed * 1.65
print(f" total_cost:$ {total_cost:}")

 total_cost:$ 68.15217391304347

In [21]:
#4: Remaining fuel in tank
# Remaining fuel = 50 - fuel needed
remaining_fuel = 50 - fuel_needed
print(f" remaining_fuel: {remaining_fuel} litres")

 remaining_fuel: 8.695652173913047 litres

In [ ]:
#Question 2: Theme Park Entry Rules

In [27]:
#A age = 30
is_weekday = True
is_family_day = False
group_size = 3
eligible = (age <= 12 and is_weekday) or (age >= 65) or (is_family_day and group_size >= 4)
print(eligible)

False

Thy person is not a child or senior and it's not family day. So, not eligible.

In [28]:
#B
age = 10
is_weekday = True
is_family_day = False
group_size = 2

eligible = (age <= 12 and is_weekday) or (age >= 65) or (is_family_day and group_size >= 4)
print(eligible)

True

The person is 10 and it's a weekday, so he/she is eligible

In [ ]:
#C Evaluation explanation
age <= 12: True (age = 10)

is_weekday: True

So, (age <= 12 and is_weekday) → True

Other two conditions: False

Final result: True or False or False = True

In [29]:
#Question 3 : Message Decoder

In [34]:
secret_message = "PyThoN_Is_FuN_AnD_PoWeRfUl!"

In [36]:
#A
print(secret_message[5])

N

Indexing starts at 0. So, index 5 = 6th character.

In [38]:
#B
substring = secret_message[7:13]
print(substring)

Is_FuN

Start at index 7 (I) to 12 (N) (Positive Indexing)

In [39]:
#C -
substring = secret_message[-9:-1]
print(substring)

PoWeRfUl

Negative indexing counts from the end. -9 is 'P', -1 is '!' (which is excluded)

In [41]:
#D
result = secret_message[::4]
print(result)

PosNDWU

Slicing with step 4 picks every 4th character from index 0.

In [42]:
#E
print(secret_message[50])

IndexError: string index out of range

Error saing "  string index out of range" as the string is shorter than 50 characters, it results in an error.

In [48]:
# Question 4: Predict and Verify
#i. Predict whether the expression will evaluate to True or False before running it.
#ii. Write down the Python expression.
#iii. State the actual result Python gives.
#iv. If your prediction was incorrect, briefly explain what you misunderstood.

In [46]:
x = 15
y = 25
z = 15
text = "adventure"

In [47]:
#A
(x == z) and (y > x)

True

x equals z → True

y > x → True

→ Final: True and True = True

In [49]:
#B
(x != z) or (y < x) or (len(text) < 5)

False

All parts are False, so final result is False.

In [50]:
#C
not ((x > y) and (text == "Adventure"))

True

x > y → False

text == "Adventure" → False (case-sensitive)

False and False = False

not False = True

In [ ]:
#Question 5: User Profile Setup

In [54]:
#A
username = "MyUser123"
username[0] = 'm'

TypeError: 'str' object does not support item assignment

Strings are unchangeble in Python. You can’t change a character by index.

In [55]:
#B
quote = " practice makes perfect "
formatted_quote = quote.strip().upper().replace("PERFECT", "PROGRESS")
print(formatted_quote)

PRACTICE MAKES PROGRESS

.strip() → removes spaces from start/end

.upper() → all caps

.replace() → swaps "PERFECT" with "PROGRESS"

In [56]:
#C
print(len(quote))
print(len(formatted_quote))

24
23

Original has 24 characters including spaces. After formatting, it has 23.